<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEndpointService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54621/EndpointService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEndpointService"
                contract="SwampyEnvironments.IEndpointService" name="BasicHttpBinding_IEndpointService" />
        </client>
    </system.serviceModel>
</configuration>