@import "bootstrap/bootstrap.less";

//Mixins Here
.border-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}


@red: #B94A48;

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}



div.dataTables_length label {
	width: 460px;
	float: left;
	text-align: left;
}

/*div.dataTables_filter input {
	.search-query
}*/

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	width: 460px;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table {
	margin: 1em 0;
	clear: both;
}

