obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.DotSettings.user
*.suo
*.cache
~$*
*.stresult
*.userprefs
*.pidb
*.DS_Store
lib/**/*.nupkg
!packages/
packages/*
!/packages/NuGetEnablePackageRestore.2.0.0/
!/packages/NUnit.Runners.2.6.2/
gemfile.lock
build/*
buildartifacts/*