obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.DotSettings.user
*.suo
*.cache
~$*
*.stresult
*.userprefs
*.pidb
*.DS_Store
lib/**/*.nupkg
!TestResults/
TestResults/*
packages/**
gemfile.lock
build/*