@model Swampy.Admin.MVC.Models.OperationModels.CreateSimpleEndpoint

 <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>
