<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CommonDBConnectionString" value="SIT2ConnectionString"/>
		<add key="QVASDBConnectionString" value="[%QVAS.QVASDBConnectionString%]"/>
		<add key="ModeKey" value="SIT2"/>

    <add key="DataVersion" value="1"/>
    <add key="LoftSqlDropDirectory" value="D:\SAIG.PS.WorkingDirectory\SAIG.PS.QVAS\SqlDrop\" />
    <add key="LoftNetBrokerDropDirectory" value="D:\SAIG.PS.WorkingDirectory\SAIG.PS.QVAS\NetBrokerDrop\" />
    <add key="WorkingDirectory" value="D:\SAIG.PS.WorkingDirectory\SAIG.PS.QVAS\" />
    
    <add key="LoftFilePrimeRegex" value="ddx\w\d{1,2}_\d{8}.lft"></add>
    <add key="LoftFileMultiRegex" value="ddx\w\d{1,2}_\d{8}(.|_\d{1,2}.)lft"></add>
	</appSettings>
</configuration>