@using Swampy.Admin.MVC.Models
@model Swampy.Admin.MVC.Models.EnvironmentReadModel
<ul class="nav nav-tabs">
    
    @foreach (string environment in Model.allEnvironments)
    {
        <li>
            <a href="/Environment?environmentName=@environment" data-toggle="tab" 
                @if(environment == Model.environmentName)
                {
                    @: class="tab-pane active"
                }
                else
                {
                    @: class="tab-pane"
                }
                />
            
                                                                                                      
                                                                                                      
        </li>
    }
</ul>
