
@model Swampy.Admin.Web.Models.ReadModels.HomeReadModel

@{
    ViewBag.Title = "Home Page";
}



<h2>@ViewBag.Message</h2>
<p>
    Welcome to Swampy Administration Page. 

    Please select an environment from the list below to view/manage environment data
</p>


@Html.ActionLink("+ Add New", "Create")


@foreach(string environment in Model.EnvironmentNames)
{
    <h3>@environment</h3>
    @Html.ActionLink(environment ,"Detail", "Environment", new { environmentName = environment }, null);
}