@model Swampy.Admin.Web.Models.Read.HomeReadModel

@{
    ViewBag.Title = "Environments";
    
}
<div>
    <div class="page-header">
        <h1>Environments <small>Select an environment from the list below</small></h1>
    </div>

    <p class="pull-right">
        @Html.ActionLink("+ Add New", "Create", null, new { @class = "btn btn-primary btn-large" })
    </p>
    
    <ul>
    @foreach (KeyValuePair<string, string> environment in Model.EnvironmentNames)
    {  
        <li>
            <h3>@Html.ActionLink(environment.Key, "Detail", "Environment", new { environmentName = environment.Key }, null)</h3>
            <span>@environment.Value</span>
        </li>
    }
    </ul>


</div>
