<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEndpointService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/EndpointService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEndpointService" contract="ConfigGen.SwampyProxy.IEndpointService"
                name="BasicHttpBinding_IEndpointService" />
        </client>
    </system.serviceModel>
</configuration>