@model Swampy.Admin.Web.Models.OperationModels.Endpoint.CreateEndpoint

<div class="control-group">
    
        @Html.LabelFor(model => model.Endpoint.Value)
    <div class="controls">
        @Html.EditorFor(model => model.Endpoint.Value)
        @Html.ValidationMessageFor(model => model.Endpoint.Value)
    </div>
</div>

