<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright ©) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EndpointServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>

      <service name="Swampy.WcfService.EndpointService"
               behaviorConfiguration="EndpointServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8000/EndpointService/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Swampy.Domain.Contract.IEndpointService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>