@model Swampy.Admin.Web.Models.OperationModels.Endpoint.CreateDatabaseConnectionEndpointOperationModel
<div class="control-group">
    
        @Html.LabelFor(model => model.DatabaseConnectionString)
    <div class="controls">
        @Html.EditorFor(model => model.DatabaseConnectionString)
        @Html.ValidationMessageFor(model => model.DatabaseConnectionString)
    </div>
</div>

