@using SAIG.PS.Swampy.Admin.MVC.Controllers

@model SAIG.PS.Swampy.Admin.MVC.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}



<h2>@ViewBag.Message</h2>
<p>
    Welcome to Swampy Administration Page. 

    Please select an environment from the list below to view/manage environment data
</p>

@foreach(string environment in Model.EnvironmentNames)
{
    <h3>@environment</h3>
    @Html.ActionLink(environment ,"Index", "Environment", new { environmentName = environment }, null);
}